* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(202, 202, 202, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
    width: 200px;
    max-width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #d65600;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff4c4c;
}

.secretariat-container {
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
}

.section-title {
    color: #ffdbdb;
    margin-top: 5%;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.big-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

.big-card {
    background-color: #1e1e1e;
    border-radius: 16px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-bottom: 20px;
}

.big-card img {
    width: 100%;
    height: auto;
}

.big-card h3 {
    margin: 10px 0 5px;
    font-size: 1.5em;
}

.big-card p.role {
    color: #e63946;
    font-weight: bold;
}

.big-card p.desc {
    padding: 0 15px;
    font-size: 0.95em;
    color: #eaeaea;
}

.small-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
}

.small-card {
    background-color: #1e1e1e;
    border-radius: 12px;
    text-align: center;
    padding: 15px;
    width: 150px;
}

.small-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.small-card h4 {
    margin: 5px 0;
    font-size: 1em;
}

.small-card p {
    color: #e63946;
    font-size: 0.85em;
    margin: 0;
    font-weight: bold;
}

.small-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.54);
}

.big-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}